body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gainsboro;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    margin-top: 1em;
}

a {
    color: #0071f0;
    text-decoration: none;
}

a:hover {
    color: #0071f0;
}